* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
*::selection{
    background-color: #6e9490;
    color: #efdbd3;
}
a {
    color: aliceblue;
}

body {
    background-image: url(images/img-texture-body.png);
    color: #658985;
    /* cursor: url(images/pawrsur.png), auto; */
}
.white-colored {
    color: white;
}

h1 {
    color: #5c928c;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    padding: 0 1em;
}

nav, footer {
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}

/* a:hover {
    cursor: url(images/pawynter.png), auto;
} */

.hero-image {
    width: 22em;
}

p {
    color: #658985;
}

.side-nav,
 .social-links {
    padding: 0.5em;
}

.side-nav a,
.social-links a,
#web-projects h4 a {
    color: #AA6337;
    padding: .5em;
    font-size: larger;
    transition:  100ms ease-in-out;
    transition-delay: 50ms;
}

.side-nav a:hover,
#web-projects h4 a:hover {
    color: white;
    /* cursor: url(images/pawynter.png), auto; */
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 1em 4.5em;
    margin: 2em 0;
}

.hero-text-container {
    margin: auto;
    padding: 2em;
}

.hero-text {
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding: 2em 0;
}

.hero-button-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
    padding-right: 2em;
}

.hero-button {
    color: aliceblue;
    background-color: #b87e5d;
    padding: .5em;
    border: #658985 1px solid;
    font-size: x-large;
    text-align: center;
}

.hover-effect {
    transition:  50ms ease-in-out;
    transition-delay: 50ms;
}

.hover-effect:hover{
    color:#AA6337;
    background-color: white;
}

.hover-effect-icon {
    transition: 50ms ease-in-out;
    transition-delay: 50ms;
    color: #cf9992;
}

.hover-effect-icon:hover {
    /* color:#AA6337; */
    color: #9d4f45;
}

.color-block {
    background-color: #DBCECE;
    width: 61em;
    height: 70em;
    position: absolute;
    top: -10%;
    right: 0%;
    border-radius: 24% 32% 0% 0% / 79% 0% 10% 15% ; 
    z-index: -1;
}

#web-projects {
    background-color: #d0bfbf;
    border-radius: 50% 50% 0% 0% / 8% 8% 0% 0% ;
    height: 50em;
    margin-top: 5em;
}

h2 {
    color: #f7f5f5;
    text-align: center;
    padding-top: 4em;
}

.cards-container {
    display: flex;
    gap: 2em;
    padding: 4em;
}

.card {
    margin: 1em;
    text-align: center;
}

 .card img {
    display: block;
    width: 100%;
 }

 .card-text {
    padding: 1.5em;
    display: block;
    line-height: normal;
    background-image: url(images/img-texture.png);
 }

 .card-text h3 {
    padding-bottom: 1em;
    line-height: 0%;
 }

.card-button-container {
    display: grid;
    grid-template-columns: auto auto;
}

.card-button-container a {
    padding: 1em 0;
    background-color: #b87e5d;
}

.blue-border {
    border: #658985 1pt solid;
}

h4 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: inherit;
    font-size: medium;
    margin-top: -1em;
    text-decoration: underline white;
    text-underline-offset: 3px;
}

#other-artworks,
 #about {
    background-color: #c5b1b1;
    border-radius: 50% 50% 0% 0% / 8% 8% 0% 0% ;
    /* height: 45em; */
    margin-top: -4.5em;
}

#about {
    background-color: #b49b9b;
}

#about h2 {
    color: #f7f5f5;
    /* padding-bottom: 2em; */
}

#about p {
    color: #f7f5f5;
    padding: 0.5em 17em;
    line-height: 2em;
    font-size: 110%;
}

.about-text {
    padding: 2em 1em 5em 1em;
}

.credit {
    padding: 0.5em;
    color: #AA6337;
    font-weight: bold;
}

#contact {
    display: grid;
    grid-template-rows: 1fr 9fr auto;
    height: 100vh;
}
 
.contact-text h1 {
    font-size: 3em;
}

.contact-text {
    text-align: center;
    padding: 20em 0;
}

.contact-text p, 
.contact-text i {
    font-size: xx-large;
    line-height: 1.5em;
}

.contact-text i {
    padding: 0 0.5em;
}

.footer-hover-effect1 {
    transition:  100ms ease-in-out;
    transition-delay: 50ms;
}

.footer-hover-effect1:hover {
    transform: rotate(15deg);
    font-size: 1.5em;
}

.footer-hover-effect2 {
    transition:  100ms ease-in-out;
    transition-delay: 50ms;
}

.footer-hover-effect2:hover {
    transform: rotate(-15deg);
    font-size: 1.5em;
}

/* for mobile screens or screens smaller than or equal to 600px (tablet and mobile) */
@media screen and (max-width: 1030px) {
    body {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    nav {
        flex-direction: column;
    }
    #hero {
        display: flex;
        flex-direction: column;
        /* height: 90vh; */
    }
    nav {
        padding: 1em;
        border: #658985 1px solid;
    }
    .side-nav, 
    .side-nav a, 
    .hero-text-container, 
    .hero-button-container{
        padding: 0;
    }
    .side-nav {
        display: flex;
        justify-content: space-between;
        padding: 0.5em 0.5em 0 0.5em;
    }
    .color-block {
        display: none;
    }
    .hero-image {
        width: 40vw;
    }
    .hero-container, 
    .cards-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .hero-text-container {
        padding-top: 1em;
        border-top: #658985 1px solid;
        border-bottom: none;
    }

    .hero-text {
        font-size: medium;
        font-weight: bold;
        padding: 0 2em;
    }
    .hero-button-container {
        gap: 0;
        padding: 1em 0 3em 0;
    }
    .hero-button {
        font-size: large;
    }

    #web-projects {
        margin: 0;
        height: 100%;
        border-radius: 50% 50% 0% 0% / 4% 4% 0% 0%;
    }
    h2 {
        padding: 2em 0 1em 0;
    }
    .cards-container {
        padding-bottom: 4em;
    }
    .card {
        margin: 1em 3em 5em 3em;
    }
    #other-artworks,
    #about {
        margin-top: -5.5em;
    }
    #about p {
        padding: 0.5em 2em;
        line-height: 2em;
        text-align: left;
        text-align: justify;
    }
    .about-text {
        padding: 0 1em 5em 1em;
    }
    .contact-text {
        border: #658985 1px solid; 
        border-top: none;
    }
    .contact-text p {
        font-size: larger;
    }
    .contact-text h1 {
        font-size: xx-large;
    }
    .contact-footer {
        border: #658985 1px solid;
        border-top: none;
    }
    footer {
        flex-direction: column;
        padding: 0.5em;
    }
    .credit {
        font-weight: 100;
    }
 }