* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: aliceblue;
}

body {
    background-color: #EFDBD3;
    color: #658985;
    /* cursor: url(images/pawrsur.png), auto; */
}

.white-colored {
    color: white;
}

h1 {
    color: #658985;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    padding: 0 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 2em;
}

/* a:hover {
    cursor: url(images/pawynter.png), auto;
} */

img {
    width: 22em;
}

p {
    color: #658985;
}

.side-nav {
    padding: 0.5em;
}

.side-nav a {
    color: #AA6337;
    padding: .5em;
    font-size: larger;
}

.side-nav a:hover {
    color: white;
    /* cursor: url(images/pawynter.png), auto; */
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 2em 4.5em;
    margin: 2em 0;
}

.hero-text-container {
    margin: auto;
    padding: 2em;
}

.hero-text {
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding: 2em 0;
}

.hero-button-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
    padding-right: 2em;
}

.hero-button {
    color: aliceblue;
    background-color: #b87e5d;
    padding: .5em;
    border: #658985 1px solid;
    font-size: x-large;
    text-align: center;
}

.hover-effect {
    transition: background-color 50ms ease-in-out;
    transition-delay: 50ms;
}

.hover-effect:hover{
    color:#AA6337;
    background-color: white;
}

.color-block {
    background-color: #DBCECE;
    width: 65em;
    height: 90em;
    position: absolute;
    top: -10%;
    right: 0%;
    border-radius: 24% 32% 0% 0% / 79% 0% 10% 15% ; 
    z-index: -1;
}

#web-projects {
    background-color: #DBCECE;
    border-radius: 50% 34% 0% 0% / 14% 0% 10% 15% ;
}

h2 {
    color: #658985;
    text-align: center;
    padding-top: 2em;
}

.cards-container {
    display: flex;
    /* grid-template-columns: auto auto auto; */
    gap: 2em;
    padding: 4em;
}

.card {
    margin: 1em;
    text-align: center;
}

 .card img {
    display: block;
    width: 100%;
 }

 .card-text {
    padding: 1.5em;
    display: block;
    line-height: normal;
 }

 .card-text h3 {
    padding-bottom: 1em;
    line-height: 0%;
 }

.card-button-container {
    display: grid;
    grid-template-columns: auto auto;
}

.card-button-container a {
    padding: 1em 0;
    background-color: #b87e5d;
}

.blue-border {
    border: #658985 1pt solid;
}
