* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

a {
    color: aliceblue;
}

body {
    background-color: #EFDBD3;
    /* cursor: url(images/pawrsur.png), auto; */
}

.white-colored {
    color: white;
}

h1 {
    color: #658985;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: xx-large;
    padding: 0 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 2em 0 2em;
}

a:hover {
    /* cursor: url(images/pawynter.png), auto; */
}

img {
    width: 22em;
}

p {
    color: #658985;
}

.side-nav {
    padding: 0.5em;
}

.side-nav a {
    color: #AA6337;
    padding: .5em;
    font-size: larger;
}

.side-nav a:hover {
    color: white;
    /* cursor: url(images/pawynter.png), auto; */
}

.hero-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 2em 4em;
    margin: 2em 0;
}

.hero-text-group {
    margin: auto;
    padding: 2em;
}

.hero-text {
    font-size: x-large;
    font-weight: bold;
    line-height: 2em;
    padding: 2em 0;
}

.hero-button-group{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3em;
}

.hero-button {
    color: aliceblue;
    background-color: #b87e5d;
    padding: 1em;
    border: #658985 1px solid;
    font-size: x-large;
    text-align: center;
    transition: background-color 50ms ease-in-out;
    transition-delay: 50ms;
}

.hero-button:hover {
    color:#AA6337;
    background-color: white;
}